
html {
  font-size: 16px;
}

body {
  text-align: center;
}


/* HEADER */
header {
  background-color:lightblue;
}

#site-title {
  font-size: 3em;
  margin: 0;
  font-family: 'Rock Salt', cursive;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav a {
  margin: 0 50px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #787de3;
}

nav a:active {
  opacity: .5
}

/* PLAYLIST BUILDER */
#playlist-builder {
  display: flex;
  justify-content: center;
}

.building-blocks {
  width: 250px;
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
}

.song-block {
  display: grid;
  grid-template-columns: 1fr 30px;
}

.song-info {
  border: 1px solid black;
  margin: 10px 5px;
}

.add-button, .remove-button {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: auto;
  outline: none;
  font-weight: bold;
  font-size: 20px;
}

/* .add-button:hover, .remove-button:hover {
  box-shadow: 0 0 10px grey;
} */
.add-button:hover {
  background-color: black;
  color: white;
}

.remove-button:hover {
  border-color: red;
  background-color: red;
  color: white;
}

.add-button:active, .remove-button:active {
  opacity: .5;
}

.album-art {
  max-width: 50px;
  max-height: 50px;
  border: 1px solid grey;
  border-radius: 10px;
}

footer a {
  font-weight: bold;
  color: maroon;
  text-decoration: none;
}

footer a:hover {
  color: lightpink;

}