
html {
  font-size: 16px;
}

body {
  text-align: center;
  background: url(./assets/background.jpg) no-repeat center center;
  background-size: cover;
}


/* HEADER */
header {
  /* background-color:lightblue; */
}

#site-title {
  font-size: 3em;
  margin: 0;
  font-family: 'Rock Salt', cursive;
  background: linear-gradient(rgb(185, 216, 229), rgb(78, 12, 12));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav a {
  margin: 0 50px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #787de3;
}

nav a:active {
  opacity: .5
}

main {
  height: 82vh;
}

#coming-soon {
  width: 100%;
  height: 100%;
  background: url(./assets/construction.png) no-repeat center -20px;
  background-size: 500px;
}

/* PLAYLIST BUILDER */
#playlist-builder {
  display: flex;
  justify-content: center;
}

.building-blocks {
  width: 250px;
  height: 60vh;
  background-color: rgba(225, 237, 246, .8);
  margin: 5vh 20px 15vh 20px;
  padding: 5px 20px;
  border: 2px solid black;
  border-radius: 15px;
  overflow: auto;
  
  
}

/* borrowed from: https://forum.webflow.com/t/how-do-i-hide-the-browser-scrollbar-from-appearing-when-a-user-scrolls/59643 */
.building-blocks {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.building-blocks::-webkit-scrollbar {
  display: none;
}

.search-check {
  text-align: center;
  color: grey;
}

#loading {
  /* -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite; */
   animation: loading 1s infinite;
}

@keyframes loading {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

#api-error-img {
  width: 30%;
  opacity: .7;
}


.song-info, .playlist-song-info {
  border: 1px solid black;
  margin: 10px auto;
  text-align: left;
  padding-left: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.song-info p , .playlist-song-info p {
  margin: 2px;
}

.song-info:hover {
  border-color: grey;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.678);
  cursor: pointer;
}

.playlist-song-info:hover {
  background-color: rgba(255, 240, 240, 0.909);
  border-color: rgb(236, 39, 39);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.656);
  cursor: pointer;
}

.song-info:active, .playlist-song-info:active {
  opacity: .5;
}

.additional-info {
  margin: 0 auto;
  display: flex;
  padding-bottom: 5px;
  justify-content: space-between;
  align-items: space-around;
}

.additional-info p {
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(246, 250, 253);
}

.playlist-top {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}

.artist-name {
  opacity: .5
}

.deciders {
  margin: 0 10% 0 20%;
}

.add-button, .remove-button {
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  outline: none;
  font-weight: bold;
}

/* .add-button:hover, .remove-button:hover {
  box-shadow: 0 0 10px grey;
} */
.add-button:hover {
  background-color: black;
  color: white;
}

.add-button:active, .remove-button:active {
  opacity: .5;
}

.album-art {
  max-width: 50px;
  max-height: 50px;
  border: 1px solid grey;
  border-radius: 10px;
}

#playlist-header {
  display: grid;
  grid-template-columns: 15fr 1fr;
}

#clear-playlist {
  color: grey;
  font-weight: bold;
  font-size: 20px;
  height: auto;
  background: none;
  outline: none;
  margin: 3px -10px auto 10px;
  border-radius: 10px;
}

#clear-playlist:hover {
  color: red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.56);
 }

#clear-playlist:active {
 opacity: .5;
}

#playlist-title-changer, #search-box {
  text-align: left;
}

#change-playlist-title, #playlist-title, #greyed-playlist-title {
  width: 85%;
}

#change-playlist-title, #search-field, #playlist-title, #greyed-playlist-title {
  font-size: 30px;
  padding: 0 3px;
}

#change-playlist-title, #search-field {
  text-align: left;
  background: none;
  border-color: 1px grey;
  border-radius: 10px;
  outline: none;
}

#change-playlist-title {
  color: rgb(149, 149, 149);
  margin: 5px 0 12px 0;;
}

#playlist-title {
  color: rgb(73, 73, 73);
  margin: 5px 0 16px 0;
}

#greyed-playlist-title:hover {
  cursor: text;
}

#greyed-playlist-title {
  margin: 5px 0 16px 0;
  background: linear-gradient(to right, rgba(128, 128, 128, 0.781), rgba(128, 128, 128, 0.149));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#search-field {
  color: grey;
  width: 96%;
  margin: 5px 0;
}

footer {
  height: 50px;
  background-color: rgb(239, 239, 239, .7);
}

footer a {
  font-weight: bold;
  color: maroon;
  text-decoration: none;
  line-height: 50px;
}

footer a:hover {
  color: lightpink;

}